In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_excel("../data/raw/online_retail.xlsx.xlsx")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [6]:
df.columns = [c.strip().lower().replace(" ","_") for c in df.columns]
df.columns

Index(['invoiceno', 'stockcode', 'description', 'quantity', 'invoicedate',
       'unitprice', 'customerid', 'country'],
      dtype='object')

In [8]:
missing = df.isna().sum().sort_values(ascending= False)
missing.head(10),df.duplicated().sum()

(customerid     135080
 description      1454
 stockcode           0
 invoiceno           0
 quantity            0
 invoicedate         0
 unitprice           0
 country             0
 dtype: int64,
 np.int64(5268))

In [10]:
df=df.dropna(subset = ["customerid", "invoiceno", "stockcode", "quantity", "unitprice", "invoicedate"])
df["costumerid"]=df["customerid"].astype("int64")
df = df[(df["quantity"] > 0) & (df["unitprice"] > 0)]
df.shape

(397884, 9)

In [12]:
df["invoicedate"] = pd.to_datetime(df["invoicedate"])
df["order_date"] = df["invoicedate"].dt.date
df["order_month"] = df["invoicedate"].dt.to_period("M").astype("str")
df["order_month"] = df["invoicedate"].dt.year
df["order_weekday"] = df["invoicedate"].dt.day_name()
df.head

<bound method NDFrame.head of        invoiceno stockcode                          description  quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               invoicedate  unitprice  customerid         country  costumerid  \
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom       17850
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom       17850
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom       17850
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom       17850
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom       17850
...                    ...        ...         ...             ...         ...
541904 2011-12-09 12:50:00       0.85     12680.0          France       12680
541905 2011-12-09 12:50:00       2.10     12680.0          France       12680
541906 2011-12-09 12:50:00       4.15     12680.0          France       12680
541907 2011-12-09 12:50:00       4.15     12680.0          France       12680
541908 2011-12-09 12:50:00       4.95     12680.0          France       12680

        order_date  order_month order_weekday
0       2010-12-01         2010     Wednesday
1       2010-12-01         2010     Wednesday
2       2010-12-01         2010     Wednesday
3       2010-12-01         2010     Wednesday
4       2010-12-01         2010     Wednesday
...            ...          ...           ...
541904  2011-12-09         2011        Friday
541905  2011-12-09         2011        Friday
541906  2011-12-09         2011        Friday
541907  2011-12-09         2011        Friday
541908  2011-12-09         2011        Friday

[397884 rows x 12 columns]>

In [15]:
df["total_sales"] = df["unitprice"] * df["quantity"]
df[["quantity","unitprice","total_sales"]].head()

   quantity  unitprice  total_sales
0         6       2.55        15.30
1         6       3.39        20.34
2         8       2.75        22.00
3         6       3.39        20.34
4         6       3.39        20.34

In [17]:
out_path =  "../data/processed/online_retail_clean.csv"
df.to_csv(out_path,index = False)
out_path

'../data/processed/online_retail_clean.csv'

In [18]:
df2 = pd.read_csv("../data/processed/online_retail_clean.csv")
df2.shape, df2.head(2)

((397884, 13),
    invoiceno stockcode                         description  quantity  \
 0     536365    85123A  WHITE HANGING HEART T-LIGHT HOLDER         6
 1     536365     71053                 WHITE METAL LANTERN         6

            invoicedate  unitprice  customerid         country  costumerid  \
 0  2010-12-01 08:26:00       2.55     17850.0  United Kingdom       17850
 1  2010-12-01 08:26:00       3.39     17850.0  United Kingdom       17850

    order_date  order_month order_weekday  total_sales
 0  2010-12-01         2010     Wednesday        15.30
 1  2010-12-01         2010     Wednesday        20.34  )